.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  right: 0%;
  color: blue;
  z-index: 3;
  height: 2cm;
  background-color: transparent;
}

.mainDiv {
  align-content: flex-start;
  background-color: transparent;
  margin: auto;
  width: 94%;
  height: 80%;
  overflow: hidden;
}
